body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode a {
  color: #bb86fc;
}

body.dark-mode a:hover {
  color: #3700b3;
}

body.dark-mode .button {
  background-color: #bb86fc;
}

body.dark-mode .button:hover {
  background-color: #3700b3;
}

