/* Dark mode styles */
body {
    background-color: #121212;
    color: #e0e0e0;
}

a {
    color: #bb86fc;
}

.post, .page, .project, .certificate {
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
}
